@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  background: url(./components/images/Untitled\ design\ \(8\).png) no-repeat;
  background-size: cover;
  background-position: center;
}
